.card-main{
    border: 0.5px solid grey;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px 15px;
    max-width: 100%;
    box-shadow: 0px 0px 5px 0px;
    margin: 10px 0px 10px 0px;
}

.top-card{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: grey;
}

.img-holder{
    position: relative;
}

.top-card img{
    width: 30px;
    border-radius: 20px;
    z-index: -1;
}

.active-dot{
    background-color: green;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.title{
    font-weight: 600;
}

.bottom-card{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.l-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    color: white;
    background-color: grey;
    border: 0.2px solid grey;
    border-radius: 10px;
}

.tag{
    display: flex;
    border: 0.1px solid grey;
    border-radius: 10px;
    padding: 5px 10px;
    align-items: center;
    margin-left: 10px;
}

.tag p{
    margin: 0px 0px 0px 5px;
}